.mainSec {
    .insideSec {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        .better {
            margin-left: 300px;
            h3 {
                font-weight: bold;
                width: 80%;}}
        .featured {
            .firstLine {
                display: flex;
                flex-direction: row;
                .iconText {
                    margin-left: 20px;
                    width: 35%;
                    h4 {
                        margin-top: 10px;}
                    p {
                        margin-top: 20px;}}}
            .iconİtem {
                width: 50px;
                height: 50px;
                background-color: rgb(13, 110, 253);
                border-radius: 6px;
                color: white;
                align-items: center;
                display: flex;
                justify-content: center;}
            .secondLine {
                display: flex;
                flex-direction: row;
                .iconText {
                    margin-top: 20px;
                    margin-left: 20px;
                    width: 35%;
                    h4 {
                        margin-top: 10px;}
                    p {
                        margin-top: 20px;}}}}}}

@media screen and (max-width: 1200px) {
    .mainSec {
        .insideSec {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            margin-bottom: 100px;
            width: 100%;
            max-width: 100%;
            justify-content: center;
            align-items: center;
            .better {
                margin-left: 100px;
                h3 {
                    width: 80%;}}
            .featured {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .firstLine {
                    display: flex;
                    flex-direction: column;
                    .iconText {
                        margin-left: 20px;
                        width: 80%;
                        h4 {
                            margin-top: 10px;}
                        p {
                            margin-top: 20px;}}}
                .iconİtem {
                    width: 50px;
                    height: 50px;
                    background-color: rgb(13, 110, 253);
                    border-radius: 6px;
                    color: white;
                    align-items: center;
                    display: flex;
                    justify-content: center;}

                .secondLine {
                    display: flex;
                    flex-direction: column;
                    .iconText {
                        margin-top: 20px;
                        margin-left: 20px;
                        width: 80%;
                        h4 {
                            margin-top: 10px;}
                        p {
                            margin-top: 20px;}}}}}}}